width {
    body: 100%;
    height: 300px;
    padding: 0;
    margin: 0px;
}
slider {
    display: block;
    width: 100%;
    height: 300px;
    background-color: black;
    overflow: hidden;
    
}
slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 300px;
    background: black;
    animation: slide 120s infinite;
    overflow: hidden;
}

slide:nth-child(1){
    
    animation-delay: -15s;
    background-image: url(../../images/tess-banner-inverted_v2.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(2){
    left: 100%;
    animation-delay: 15s;
    background-image: url(../../images/tess_first_light-tb.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(3){
    left: 100%;
    animation-delay: 30s;
    background-image: url(../../images/tess_comet_1041_0.gif);
    background-size: cover;
    background-position: center;
}

slide:nth-child(4){
    left: 100%;
    animation-delay: 45s;
    background-image: url(../../images/TESSMDwarfwhaze.jpg);
    background-size: cover;
    background-position: center;
}


slide:nth-child(5){
    left: 100%;
    animation-delay: 60s;
    background-image: url(../../images/TESSLavaPlanet31_print.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(6){
    left: 100%;
    animation-delay: 75s;
    background-image: url(../../images/superearth20180412-16.jpg);
    background-size: cover
    background-position: center;
}

slide:nth-child(7){
    left: 100%;
    animation-delay: 90s;
    background-image: url(../../images/2237_FLARES_RGB_small.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(8){
    left: 100%;
    animation-delay: 105s;
    background-image: url(../../images/ssc2019-14c.jpg);
    background-size: cover
    background-position: center;
}

slide p{
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: Exo 2;
    font-size: 15px;
    text-align: center;
    width: 30%;
    height: 100%;
    margin-top: 0%;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: black;
    background: lightgray
}


text-block {
  position: absolute;
  bottom: 50px;
  left: 15px;
  font-family: Exo 2;
  text-align: left;
  font-size: 50px;
  color: white;
  width: calc(100% - 295px);
  text-shadow: -5px 5px 5px black;
 
}

@keyframes slide {
    0% { left: 100%; width: 100%}
    5% { left: 0%;}
    25% { left: 0%;}
    30% { left: -100%; width: 100%;}
    30.0001% { left: -100%; width: 0%;}
    100% { left: 100%; width: 0%;}
}
